# Name of the workflow
name: Build

# Controls what will trigger the workflow.
# Change it if you need.
on:
  # A new push to the “main” branch.
  push:
    branches: [ "main" ]
  # A new pull request to the “main” branch.
  pull_request:
    branches: [ "main" ]
  # Allows to trigger the workflow from GitHub interfaces.
  workflow_dispatch:

# A single workflow can have multiple jobs.
jobs:
  # ‘A new job is defined with the name: “build Android”
  build_android:
    # Defines what operating system will be used for the actions.
    # For android, we will use linux GitHub-Hosted Runner.
    runs-on: ubuntu-22.04
    # Defines what step should be passed for successful run
    steps:
      # Checkout to the selected branch
      - name: Checkout
        uses: actions/checkout@v3
      # Download and install java
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "11.0"
          # Enables cache for java
          # Speed up the build process
          cache: 'gradle'
      # Download and install flutter packages
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          # Define which stable flutter version should be used
          flutter-version: "3.3.10"
          channel: 'stable'
          # Enables cache for flutter packages
          # Speed up the build process
          cache: true
      # Get Flutter project dependencies
      - name: Get dependencies
        run: flutter pub get
      # Build Android App Bundle which by default will be stored in the ./build/app/outputs/bundle/release as app-release.aab
      - name: Build release app bundle
        run: flutter build appbundle
      # Upload the build to the GitHub Actions artifacts
      - name: Upload App Bundle
        uses: actions/upload-artifact@v3
        with:
          name: Android App Bundle
          path: ./build/app/outputs/bundle/release/app-release.aab
  
  build_ios:
    # Defines what operating system will be used for the actions.
    # For android, we will use linux GitHub-Hosted Runner.
    runs-on: macos-12
    # Defines what step should be passed for successful run
    steps:
      # Checkout to the selected branch
      - uses: actions/checkout@v3
      # Download and install flutter packages
      - uses: subosito/flutter-action@v2
        with:
          # Define which stable flutter version should be used
          flutter-version: "3.3.10"
          channel: 'stable'
          # Enables cache for flutter packages
          # Speed up the build process
          cache: true
      # Get Flutter project dependencies
      - name: Get dependencies
        run: flutter pub get
      - name: Start release build
        run: flutter build ios